<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<style>
/* .hlw {  
align-self: inherit;
width: 300px;  
height: 400px;  
text-align: center;  
padding: 15px 10px;  
/* border: 3px solid red;   */
  */
.photo{
    height: 100px 100px;
    padding-left: 2%;
}
.move{
    padding-top: 10%;
 padding-left:12%
}
.container{
    /* float: left; */
    
    size: 600px 600px;
    width: 600px;
    height: 600px;
    /* background-color: aqua; */
    /* padding:10 10 10 10; */
    float: left;
}
.move{
    padding-left: 30%;
    padding-right:10%;
}
.ok{
    padding-left: 20%;
    padding-top: 15%;
}
.pagination{
    text-align: center;
    padding: 0.5rem;
    flex:auto;
}
.pagination a{
    color: #000;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    border: solid 1px rgb(22, 197, 153);

}
.pagination a{
    /* padding-right:; */
    margin: 0.6rem 0.5rem;
}
.pagination a:hover{
    background: black;
    color: springgreen;
}
</style>

</head>
<body><div class="ok">
    <div class="moves"></div>
    <div class="container">
<% for (let phote of photos){%>
    <!-- <div class="move"> -->
    <div class="hlw"><img src="/<%=phote.photo%>" class="img-fluid img-thumbnail photo" alt="..."  >
  <a href="photo/<%=phote._id%>">show </a>
    </div>
<!-- </div> -->

<% }%>
<div class="pagination">
    <%  if(currentPage !=1&& previousPage!=1){%> <a href="?page=1">1</a><% }%>
    <% if(previousPage){%> <a href="?page=<%=previousPage%>"><%=previousPage%></a><%}%>
    <a href="?page=<%=currentPage%>"><%=currentPage%></a>
    <% if(hasNextPage){%> <a href="?page=<%=nextPage%>"><%=nextPage%></a> <%}%>

</div>
</div>
</div>